/* main */
html {
	height: 100%;
	@media (max-width: 60em) {
		&.state--menu-active {
			overflow: hidden;
		}
	}

}

body {

	background-color: white;
	color: #222;
	margin: 0;
	min-height: 100%;

	@media (max-width: 60em) {
		.state--menu-active & {
			width: 100%;
			height: 100%;
		}
	}
}

.layout-fabricator {
	background-color: white;
}

// used on sample pages
.f-main-container {
	background-color: #fff;
	padding: 1em;
}

.f-container {
	@include clearfix;
	@include transition;
	position: relative;
	z-index: 1;
	margin-left: 0;
	background-color: #fff;
	transform: translateZ(0);

	@media (max-width: 60em) {
		min-height: 100vh;
		.state--menu-active & {
			transform: translate(-$menu-width, 0);
		}
	}
	@media (min-width: 60em) {
		margin-left: $menu-width;
	}
}

.f-main {
	@include borderBox;
	padding: 1em;
	min-height: 100%;
}

.f-inverted {
	background-color: black;
	color: white;
	padding: 1em;
	margin: 0 -1em;
}

.f-section-tag {
	background-color: red;
	color: white;
	display:inline-block;
	font-size: .9em;
	margin: 2em 0 2em -1em;
	padding: 0.35em 1em;
	text-transform: uppercase;
}

.f-section {
	font-size: .9em;
	margin-top: 1.625em;
	text-transform: uppercase;
}
