.f-search {
	position: relative;
	display: block;
	padding: 0.5em;
	border-bottom: 1px solid rgba(0, 0, 0, 0.5);

	label {
		display: none;
	}

	input.f-search-input {
		position: relative;
		display: block;
		width: 90%;
		margin: 0 auto;
		padding: 0.5em;
		font-size: 13px;
	}
}

.f-search-results {
	position: relative;

	ul.f-search-results-list {
		margin-left: 0;

		li {
			list-style-type: none;
			&:before {
				display: none;
			}
		}
	}

	a {
		padding: 0.875em 1em;
		color: #F2F2F2;
		text-transform: capitalize;
	}
}

