<div>
	{{text-input}}
</div>

{{button}}

<!--<div data-toggle="notes">-->
	<!--<h2>Integration Notes</h2>-->
    <!--<p>Any further detail that may be required on button</p>-->
    <!--<h3>Integration Notes</h3>-->
    <!--<p>Any further detail that may be required on button</p>-->
    <!--<h4>Integration Notes</h4>-->
    <!--<p>Any further detail that may be required on button</p>-->
    <!--<h5>Integration Notes</h5>-->
    <!--<p>Any further detail that may be required on button</p>-->
    <!--<h6>Integration Notes</h6>-->
    <!--<p>Any further detail that may be required on button</p>-->
<!--</div>-->

