<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="toolkit/styles/toolkit.css"/>
</head>
<body>

    <div class="wrapper">

        <h1>Sample Layout: {{title}}</h1>

        {{body}}
    </div>

</body>
</html>