<div>
	{{text-input}}
</div>

{{button}}
{{button title="Dont click again"}}
{{button class="tiny rounded" title="Click another"}}



<div data-toggle="notes">
	<h2>Integration Notes</h2>
    <p>Any further detail that may be required on button</p>
    <h3>Integration Notes</h3>
    <p>Any further detail that may be required on button</p>
    <h4>Integration Notes</h4>
    <p>Any further detail that may be required on button</p>
    <h5>Integration Notes</h5>
    <p>Any further detail that may be required on button</p>
    <h6>Integration Notes</h6>
    <p>Any further detail that may be required on button</p>
</div>

